.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.userActions {}

.logo {
  //background-color: black;
  font-size: 48px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: #ffffff;
    text-shadow: 3px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 5px;
  }
}

.buttons {
  display: flex;
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
